body {
    background-color: beige;
    width: 100vw;
    margin: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first, .second {
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-items: center;
}

.first h1, .second h1 {
    font-family: "Caprasimo", serif;
    font-weight: 500;
    font-style: normal;

    font-size: 100px; 
    text-decoration: none; 
    color: #8b0000;
}