body {
    background-color: beige;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first, .second {
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: baseline;
    height: 120px;
}

.first h1, .second h1 {
    font-family: "Caprasimo", serif;
    font-weight: 500;
    font-style: normal;

    font-size: 100px; 
    text-decoration: none; 
    color: #8b0000;
}

.first p, .second p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    margin: 0;
    color: black;

    margin-right: 20px;
    margin-left: 5px;
}