<!DOCTYPE html>
<html>
    <head>
    <title>Database DGIT</title>
    <link rel="stylesheet" type="text/css" href="../static/nav.css">
    <link rel="stylesheet" type="text/css" href="../static/db.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <nav>
            <a href="/" class="title">DGIT</a>
            <div class="menu container">
                <a href="/search" class="menu" >Search</a>
                <a href="/about" class="menu">About</a>
                <a href="/db" class="menu">Database</a>
                <a href="/contact" class="menu" >Contact</a>
            </div>
        </nav>

        

    </body>
</html>